<app-header></app-header>

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><mat-icon>contact_page</mat-icon>Contáctanos</mat-card-title>
        <mat-card-subtitle>Envíanos un mensaje</mat-card-subtitle>
      
    </mat-card-header>
   
    <mat-card-content>
        <mat-label class="info"><h1>Información</h1></mat-label>
        <mat-label><h2><mat-icon>mail</mat-icon>ceprotur@tec.ac.cr</h2></mat-label>
        <mat-label><h2><mat-icon>phone</mat-icon>24013025</h2></mat-label>
        <hr style="width:100%;text-align:left;margin-left:0">

        <mat-card-header>
            <mat-card-title>Francisco Martín Céspedes Obando</mat-card-title>
            <mat-card-subtitle>coordinador</mat-card-subtitle>
        </mat-card-header>
        <mat-label><h2><mat-icon>mail</mat-icon>fcespedes@itcr.ac.cr</h2></mat-label>
        <mat-label><h2><mat-icon>phone</mat-icon>24013272</h2></mat-label>
        <hr style="width:100%;text-align:left;margin-left:0">

        <mat-card-header>
            <mat-card-title>Daniel Francisco Pérez Murillo</mat-card-title>
            <mat-card-subtitle>Colaborador</mat-card-subtitle>
        </mat-card-header>
        <mat-label><h2><mat-icon>mail</mat-icon>dperez@itcr.ac.cr</h2></mat-label>
        <mat-label><h2><mat-icon>phone</mat-icon>24013140</h2></mat-label>
        <hr style="width:100%;text-align:left;margin-left:0">

        <mat-card-header>
            <mat-card-title>Marlon Pérez Pérez</mat-card-title>
            <mat-card-subtitle>coordinador</mat-card-subtitle>
        </mat-card-header>
        <mat-label><h2><mat-icon>mail</mat-icon>maperez@itcr.ac.cr</h2></mat-label>
        <mat-label><h2><mat-icon>phone</mat-icon>24013202</h2></mat-label>
        <hr style="width:100%;text-align:left;margin-left:0">
    
    </mat-card-content>
    
  </mat-card>
  
