<div class="flex-center-center home">
  <div class="users">
    <img src="../../../assets/logo_ceproturr.png" alt="" class="logo" />
    <div class="inputs">
      <label class="labels"> SOLICITAR SERVICIO<br></label>
    <div class="inputs">
      <label class="labels"> Descripción de la Empresa<br></label>
      <form> <textarea name="comment" rows=4 cols=35></textarea></form>
    </div>

    <div class="inputs">
      <label class="labels"> Descripción de Necesidades<br></label>
      <form> <textarea name="comment" rows=4 cols=35></textarea></form>
    </div>
    
    <div class="inputs">
      <form action="#">
        <label for="lang">Tipo de Servicio<br></label>
        <br>
        <select name="servicio" id="lang">
          <option value="asesoria">Asesoría</option>
          <option value="b">Consultoría</option>
          <option value="j">Capacitación</option>
          <option value="m">Contratación de Profesionales</option>
        </select>
  </form>
    </div>

    <div>
      <button class="btnUsers">Enviar Solicitud</button>
    </div>
  </div>
  <div>
