.table {
  width: 80rem;
  margin: 3rem auto;
  height: auto;
}
td:hover{
  cursor: pointer;
}
tr:hover{
  cursor: default;
}

tr{
  /* height auto size */
  height: auto;
}
.template{
    margin: 0 auto;
    height: auto;
    text-transform: capitalize!important;
    text-align: center;

    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.page--title {
  letter-spacing: 0;
}
.page--title {
  text-transform: capitalize !important;
  text-align: center;
}
.page--title {
  font-size: 36px;
  width: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: default;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}