<app-header></app-header>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tipo</th>
      <th scope="col">Descripcion Problema</th>
      <th scope="col">Descripcion Empresa</th>
      <th scope="col">Service Id</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let service of servicesUSer; index as i"
      (click)="detailsService(service['id'])"
    >
      <td scope="row">{{ i + 1 }}</td>
      <td>{{ service["serviceType"] }}</td>
      <td>{{ service["serviceDescription"] }}</td>
      <td>{{ service["companyDescription"] }}</td>
      <td>{{ service["id"] }}</td>
    </tr>
  </tbody>
  <!-- ng if template -->


</table>
<div *ngIf="servicesUSer.length == 0" class="row">
  
  <div class="col-12">
    <h1 class="template">No hay servicios creados aún</h1>
  </div>
 
</div>
