<div class="flex-center-center home">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="login">
      <img src="../../../assets/logo_ceproturr.png" alt="" class="logo" />
      <div class="d-flex">
        <div class="inputs">
          <label class="labels"> Nombre</label>
          <input
            type="text"
            formControlName="name"
            placeholder="Ingrese su nombre completo"
            [ngClass]="{
              'is-invalid': submitted && registerForm.controls['name'].errors
            }"
          />
        </div>

        <div class="inputs">
          <label class="labels"> Correo</label>
          <input
            formControlName="email"
            type="email"
            placeholder="Ingrese su correo"
            [ngClass]="{
              'is-invalid': submitted && registerForm.controls['email'].errors
            }"
          />
        </div>
      </div>

      <div class="d-flex">
        <div class="inputs">
          <label class="labels"> Usuario</label>
          <input
            formControlName="username"
            type="text"
            placeholder="Ingrese su usuario"
            [ngClass]="{
              'is-invalid':
                submitted && registerForm.controls['username'].errors
            }"
          />
        </div>

        <div class="inputs">
          <label class="labels"> Contraseña</label>
          <input
            type="password"
            formControlName="password"
            placeholder="Ingrese su contraseña"
            [ngClass]="{
              'is-invalid':
                submitted && registerForm.controls['password'].errors
            }"
            minlength="8"
          />
        </div>
      </div>

      <div class="d-flex">
        <select class="form-select" formControlName="userType">
          <option selected disabled>Tipo de usuario</option>
          <option *ngFor="let tipo of tipoUser">
            {{ tipo.nombre }}
          </option>
        </select>
        <div class="inputs">
          <label class="labels"> Ubicacion</label>
          <input
            formControlName="address"
            type="text"
            placeholder="Ingrese su dirrección"
            [ngClass]="{
              'is-invalid': submitted && registerForm.controls['address'].errors
            }"
          />
        </div>
      </div>

      <div class="d-flex">
        <div class="inputs">
          <label class="labels"> Telefono</label>
          <input
            formControlName="telephone"
            type="tel"
            placeholder="Ingrese su telefono"
            [ngClass]="{
              'is-invalid':
                submitted && registerForm.controls['telephone'].errors
            }"
            minlength="8"
          />
        </div>
        <div class="inputs">
          <label class="labels"> Sector Turistico</label>
          <input
            formControlName="tourismSector"
            type="tel"
            placeholder="Sector Turistico que desempeña "
            [ngClass]="{
              'is-invalid':
                submitted && registerForm.controls['tourismSector'].errors
            }"
          />
        </div>
      </div>

      <div>
        <button type="submit" class="btnRegister" (ngSubmit)="onSubmit()">
          Registrarse
        </button>
      </div>
    </div>
  </form>
</div>
