.page--title{
    letter-spacing: 0;
}
.page--title{
    text-transform: capitalize!important;
    text-align: center;
}
.page--title{
    margin-top: 0.2rem;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.chat{
    margin: 0 auto;
    width: 80rem;
    text-align: center;
}