<app-header></app-header>

<body>
    <h1 class="page--title">Sobre Nosotros</h1>
    <h1 style="text-align: left; margin-left: 5rem;">ÁREAS DE INVESTIGACIÓN</h1>
    <p>
        El consultorio atiende empresas, organizaciones y profesionales del sector turístico de la Región Huetar Norte, primordialmente, en temas como:
    </p>
    <ul>
        <li>Asesoría en calidad y sostenibilidad turística.</li>
        <li>Desarrollo de productos turísticos.</li>
        <li>Interpretación ambiental.</li>
        <li>Planificación y gestión territorial con fines turísticos.</li>
        <li>Actualización profesional y educación continua.</li>
        <li>Formación y capacitación</li>
    </ul>

    <h1 style="text-align: left; margin-left: 5rem;">VISIÓN</h1>
    <p>El Consultorio de Empresas y Profesionales del Turismo será un programa permanente de vinculación de la Carrera de Gestión del Turismo Rural Sostenible, con todos aquellos sectores que tienen incidencia en el desarrollo y fortalecimiento del turismo sostenible, primordialmente en la Región Huetar Norte, pero con posibilidades de extenderse a nivel nacional.</p>

    <h1 style="text-align: left; margin-left: 5rem;">VALORES</h1>
    <ul>
        <li><strong>Sostenibilidad</strong>: Nuestras acciones se rigen por el respeto a los recursos naturales, la justa distribución de la riqueza en las comunidades locales, y el buen suceso económico de las empresas.</li>
        <li><strong>Solidaridad</strong>: Apoyamos las causas y los intereses de los demás, siempre que promuevan el bienestar de las personas, el respeto al medio ambiente y la legislación nacional vigente.</li>
        <li><strong>Responsabilidad</strong>: Tomamos decisiones de forma consciente y responsable, y rendimos cuentas por nuestra labor.</li>
    </ul>
</body>