.header {
  width: 80vw;
  height: 5vh;
  margin: 0 auto;
  background: linear-gradient(to right, rgb(100, 100, 155), rgb(113, 99, 99));
}

.navbar{
  background: linear-gradient(to right, rgb(100, 100, 155), rgb(113, 99, 99));
  color: rgba(0, 0, 0, 0.55);
  font-size: .9rem;
}
.navbar-brand{
  color: rgba(0, 0, 0, 0.55);
  font-size: .9rem;
}


a:hover{
  color: rgba(93, 54, 54, 0.55);
  font-size: .9rem;
  /* grow effect */
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  /* border effect */
  border-bottom: 1px solid rgba(93, 54, 54, 0.55);
}
.logout{
  transform: scale(.99);
  transition: all .2s ease-in-out;

}

.logout:hover{
  transform: scale(1.05);
  transition: all .2s ease-in-out;
  /* text */

}
.example-spacer {
  flex: 1 1 auto;
}


.home {
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(to right, rgb(100, 100, 155), rgb(113, 99, 99));

}