<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse header" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button mat-icon-button class="logout" title="Cerrar sesión" [routerLink]="['../login']">
            <mat-icon>logout</mat-icon>
           
          </button>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home">Solicitar Servicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/created-services">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutUs">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactUs">Contácto</a>
        </li>
      </ul>
      <div>
        Bienvenido, {{ user.localUser }}
      </div>
      <div>
        <button
        mat-icon-button
        class="right-options"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      </div>

    </div>
  </div>
</nav>