img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
h2,
h3 {
  text-align: center;
  font-weight: 900;
}
.servicesBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rowService {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.phase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.phases {
  padding-bottom: 2rem;
}
.btn-info {
  margin: 1rem 1rem 5rem 1rem;
  width: 7rem;
}
