<app-header></app-header>
<div>
  <h1 class="page--title">Detalles del servicio</h1>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title
          ><strong>Tipo de servicio</strong>:
          {{ currentService["serviceType"] }}</mat-card-title
        >
        <mat-card-subtitle
          ><strong>ID del servicio</strong>:
          {{ currentService["id"] }}</mat-card-subtitle
        >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <mat-label>
        <p>
          <strong>Nombre de usuario</strong>: {{ currentService["username"] }}
        </p>
      </mat-label>
      <mat-label>
        <p><strong>Creación</strong>: {{ currentService["created"] }}</p>
      </mat-label>
      <mat-label>
        <p>
          <strong>Descripción del servicio</strong>:
          {{ currentService["serviceDescription"] }}
        </p>
      </mat-label>
      <mat-label>
        <p>
          <strong>Descripción de la compañia</strong>:
          {{ currentService["companyDescription"] }}
        </p>
      </mat-label>
    </mat-card-content>
  </mat-card>
</div>
<div class="phases">
  <h2>Etapas de Servicio</h2>
  <div class="servicesBox">
    <div class="rowService">
      <div class="phase">
        <h3>Inicio</h3>
        <img src="../../../assets/etapaInicio.png" alt="" />
        <button class="btn btn-info" (click)="goStart()">Ir</button>
      </div>
      <div class="phase">
        <h3>Planificacion</h3>
        <img src="../../../assets/etapaPlanif.png" alt="" />
        <button class="btn btn-info" (click)="goPlanning()">Ir</button>
      </div>
      <div class="phase">
        <h3>Evaluacion</h3>
        <img src="../../../assets/etapaEvaluacion.png" alt="" />
        <button class="btn btn-info" (click)="goEvaluation()">Ir</button>
      </div>
    </div>

    <div class="rowService">
      <div class="phase">
        <h3>Negociacion</h3>
        <img src="../../../assets/etapaNegociacion.png" alt="" />
        <button class="btn btn-info" (click)="goNegotiation()">Ir</button>
      </div>
      <div class="phase">
        <h3>Ejeucion</h3>
        <img src="../../../assets/etapaEjecucion.png" alt="" />
        <button class="btn btn-info" (click)="goExecution()">Ir</button>
      </div>
      <div class="phase">
        <h3>Cierre</h3>
        <img src="../../../assets/etapaCierre.png" alt="" />
        <button class="btn btn-info" (click)="goClosure()">Ir</button>
      </div>
    </div>
  </div>
</div>
