<div class="flex-center-center home">
  <div class="users">
    <form [formGroup]="formService" (ngSubmit)="onSubmit()">
      <div class="inputs">
        <label class="labels"> Nuevo Proceso de Servicio<br /></label>

        <div class="inputs">
          <label class="labels"> Nombre</label>
          <input
            type="text"
            formControlName="name"
            placeholder="Nombre del proceso"
            [ngClass]="{
              'is-invalid': submitted && formService.controls['name'].errors
            }"
          />
        </div>

        <div class="inputs">
          <label class="labels"> Descripción del proceso<br /></label>
          <textarea
            formControlName="description"
            name="comment"
            rows="4"
            cols="35"
            [ngClass]="{
              'is-invalid':
                submitted && formService.controls['description'].errors
            }"
          ></textarea>
        </div>
        <input type="file" (change)="uploadFile($event)" />
        <div>
          <button class="btnUsers" (ngSubmit)="onSubmit()">
            Enviar Solicitud
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
