<app-header></app-header>
<div class="createdServices">
  <app-created-services></app-created-services>
</div>
<div class="flex-center-center home">
  <div class="users">
    <img src="../../../assets/logo_ceproturr.png" alt="" class="logo" />
    <form [formGroup]="formService" (ngSubmit)="onSubmit()">
      <div class="inputs">
        <label class="labels"> SOLICITAR SERVICIO<br /></label>
        <div class="inputs">
          <label class="labels"> Descripción de la Empresa<br /></label>
          <textarea
            formControlName="companyDescription"
            name="comment"
            rows="4"
            cols="35"
            [ngClass]="{
              'is-invalid':
                submitted && formService.controls['companyDescription'].errors
            }"
          ></textarea>
        </div>

        <div class="inputs">
          <label class="labels"> Descripción de Necesidades<br /></label>
          <textarea
            formControlName="serviceDescription"
            name="comment"
            rows="4"
            cols="35"
            [ngClass]="{
              'is-invalid':
                submitted && formService.controls['serviceDescription'].errors
            }"
          ></textarea>
        </div>

        <div class="inputs">
          <label for="lang">Tipo de Servicio<br /></label>
          <br />
          <select
            name="servicio"
            id="lang"
            formControlName="serviceType"
            [ngClass]="{
              'is-invalid':
                submitted && formService.controls['serviceType'].errors
            }"
          >
            <option value="Asesoria">Asesoría</option>
            <option value="Consultoria">Consultoría</option>
            <option value="Capacitacion">Capacitación</option>
            <option value="Servicios Profesionales">
              Contratación de Profesionales
            </option>
          </select>
        </div>

        <div>
          <button class="btnUsers" (ngSubmit)="onSubmit()">
            Enviar Solicitud
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
