<app-header></app-header>
<div class="flex-center-center home">
  <div class="users">
    <img src="../../../assets/logo_ceproturr.png" alt="" class="logo" />
    <form [formGroup]="formService" (ngSubmit)="onSubmit()">
      <div class="inputs">
        <label class="labels"> SOLICITAR SERVICIO<br /></label>
        <div class="inputs">
          <label class="labels"> Descripción de la Empresa<br /></label>
          <textarea
            formControlName="descripcionEmpresa"
            name="comment"
            rows="4"
            cols="35"
          ></textarea>
        </div>

        <div class="inputs">
          <label class="labels"> Descripción de Necesidades<br /></label>
          <textarea
            formControlName="descripcionNecesidad"
            name="comment"
            rows="4"
            cols="35"
          ></textarea>
        </div>

        <div class="inputs">
          <label for="lang">Tipo de Servicio<br /></label>
          <br />
          <select name="servicio" id="lang" formControlName="tipoServicio">
            <option value="asesoria">Asesoría</option>
            <option value="b">Consultoría</option>
            <option value="j">Capacitación</option>
            <option value="m">Contratación de Profesionales</option>
          </select>
        </div>

        <div>
          <button class="btnUsers">Enviar Solicitud</button>
        </div>
      </div>
    </form>
  </div>
</div>
