<app-header></app-header>
<div>
  <h1 class="page--title">Detalles del procedimiento</h1>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title
          ><strong>Etapa de servicio</strong>:
          {{ this.currentProcedure["category"] }}</mat-card-title
        >
        <mat-card-subtitle
          ><strong>ID del servicio</strong>:
          {{ this.currentProcedure["idProcedure"] }}</mat-card-subtitle
        >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <mat-label>
        <p><strong>Nombre</strong>: {{ this.currentProcedure["name"] }}</p>
      </mat-label>
      <mat-label>
        <p><strong>Creación</strong>: {{ this.currentProcedure["date"] }}</p>
      </mat-label>
      <mat-label>
        <p>
          <strong>Descripción </strong>:
          {{ this.currentProcedure["description"] }}
        </p>
      </mat-label>
      <mat-label>
        <p>
          <strong>Estado</strong>:
          {{ this.currentProcedure["status"] }}
        </p>
      </mat-label>
    </mat-card-content>
    <div class="d-flex justify-content-center align-items-center">
      <input type="file" (change)="uploadFile($event)" />
      <button class="btn btn-success" mat-raised-button (click)="sendToFire()">
        Subir Archivo
      </button>
    </div>
  </mat-card>
</div>
<div class="fileTable">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>

        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
        <td>{{ file.name }}</td>

        <td>
          <button
            class="btn btn-primary"
            mat-raised-button
            (click)="openFile(file)"
          >
            Abrir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
